html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: var(--background);
}
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.btn {
  font-size: var(--h5);
  background-color: var(--teal);
  color: var(--black);
  border-radius: 5rem;
  width: 10rem;
  height: 3rem;
  border: none;
  margin: 1rem;
}
.flexboxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  margin: auto;
}
.flexbox-content {
  width: 40%;
  height: 20rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--card-background);
  border-radius: 5rem;
}
.text {
  font-size: var(--h3);
  color: var(--words);
  text-align: center;
  margin: 1rem auto;
}
.subtext {
  font-size: var(--h4);
  color: var(--words);
  text-align: left;
  margin: 0.5rem auto;
}

:root {
  --green: #4d4e2c;
  --dark-green: #1e3231;
  --light-green: #babd89;
  --mint: #d8dabe;
  --teal: #11b4e8;
  --black: #000;
  --white: #fff;

  /*Typography*/
  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
}

.light {
  --words: var(--black);
  --background: var(--light-green);
  --card-background: var(--mint);
}

.dark {
  --words: var(--white);
  --background: var(--dark-green);
  --card-background: var(--green);
}
