#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

:root {
  --green: #4d4e2c;
  --dark-green: #1e3231;
  --light-green: #babd89;
  --mint: #d8dabe;
  --teal: #11b4e8;
  --black: #000;
  --white: #fff;

  /*Typography*/
  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
}
